html {
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
    text-align: center;
    margin: 0;
    padding: 0;
    width: 100%;
}
body {
    padding: 0;
    margin: 0;
}
main, footer {
    width: 1300px;
    margin: 0 auto;
}
/* header */
header {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 10;
    height: 69px;
    text-align: right;
    background-color: black;
    border-bottom: 1px solid seashell;
}
header img {
    float: left;
    padding-left: 10px;
    height: 50px;
    width: auto;
    margin: 10px 0;
}
a {
    color: seashell;
}
li {
    padding: 10px;
    display: inline;
}
ul {
    list-style: none;
    padding-right: 10px;
}

/* banner */
#main {
    position: relative;
    top: 40px;
}
.banner {
    background-image: url("../Images/img-mission-background.webp");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 1200px;
    height: 700px;
    margin: 0 auto;
    margin-bottom: 50px;
    display: block;
}
.banner-text {
    background-color: black;
    position: relative;
    top: 310px;
}
/* featured teas */
.featured-tea {
    width: 1000px;
    margin: auto;
}
figure {
    display: inline-block;
    margin: 10px;
}
figure img {
    width: 300px;
    height: 200px;
    margin-bottom: 10px;
}
/* locations */
.locations {
    background-image: url("../Images/img-locations-background.webp");
    width: 1200px;
    height: 500px;
    margin: 0 auto;
}
.locations h2 {
    padding-top: 100px;
    margin-bottom: 15px;
}
.loc-box {
    width: 300px;
    display: inline-block;
    background-color: black;
    margin: 0 20px;
}
/* footer */
footer {
    height: 200px;
    margin-top: 40px;
}
.copyright {
    float: left;
    margin-left: 20px;
}

/* for legacy browsers */
header, nav, main, footer {display: block;}